
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}  
    
    @import 'mobile';
    @mixin boton_descarga{
            background-color: coral;
            padding: 20px 0 ;
            width: 50%;
            text-align: center;
            text-decoration: none;
            font-size: 24px;
            color: #fff;
            transition: 1s;
            border-radius: 50px;
    }
    
    @mixin contenedor-3-bloque{
        background-color: #222222;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    @mixin gradiente-lineal-tienda{
        background:  linear-gradient(170deg,#0f3443,#34e69f); 
    }
    /* Header universal (todos los html) */
    body{

    
    header{
         nav{
            
            border: black 2px solid;
                .navbar-nav{
                    
            
                     margin: 0 250px;
                        }
                        .nav-link{
                            font-size: 20px;
                            margin: 0 25px;
                            transition: 1s;
                         }
                             .nav-link:hover{
                                color: black;
                                background-color: coral;
                                    border-radius: 40px;

                                    }
    }

    }
    /* index */
    .banner{
        background-color: beige
        ;
         width: 100%;
        height: calc(100vh - 100px);
        display: flex;
         justify-content: start;
        align-items: center;
            .banner__textos{
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-left: 50px;

            }
                 h1{
                font-size: 60px;
                }
                    .banner__textos p{
                    font-size: 36px;
                    margin: 20px 0 30px 0;
                
                    }
                        .boton__descarga{
                            @include boton_descarga;

                        }
                            .boton__descarga:hover{
                                background-color:black ;
                                color: white;
                            }
    } 
    
    .text{
        

            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        
               
                .text h2{
                font-size: 36px;
        
        
                  }
                    .text p{
                    margin: 40px;
                    font-size: 20px;
        
        
                    }

            
    }
    /* ajustes de imagenes de tienda e index */
    .col{
        justify-content: center;
        width:25%;
        margin: 0 50px;
        padding: 50px 0;
        
    }
    /* decoracion contenedor 2 index  */
    .contenedor-2{
        @include gradiente-lineal-tienda;
        
    }

    /* footer universal (todos los html) */
    .contenedor-3{
        @include contenedor-3-bloque;

        .footer-text{
    
         width: 90%;
         height: 90%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
     
     
      }
      .box1 {
         
         width: 40%;
         height: 50%;
         display: flex;
         flex-direction: column;
         padding-right: 50px;
     
      }
     
      .box__2 , .box__3, .box4{
        
         width: 20%;
         height: 50%;
         display: flex;
         flex-direction: column;
         padding-right: 50px;
     
     
      }
      .box1 h3, .box__2 h3 ,.box__3 h3 , .box4 h3{
         font-size: 28px;
         margin: 25px 0;
     
     
     
      }
      .box1 p{
         font-size: 20px;
     
      }
      .box__2 a, .box__3 a, .box4 a{
         text-decoration: none;
         color: #fff ;
         margin: 5px 0;
         font-size: 20px;
     
     
      }
     
     
     
      .rs{
         
         width: 100%;
         height: 40px;
         display: flex;
         flex-direction: row;
         justify-content: left;
         align-items: center;
         margin: 25px 0;
     
     
      }
      .rs img{
         object-fit: cover;
         height: 85%;
         margin-right: 15px;
         
      }
      
     
      .pie{
        
         width: 100%;
         height: 10%;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 2px solid #3c3c3c;
     
      }
      .pie p{
         font-size: 18px;
      }
      .pie a{
         text-decoration: none;
         color: #fff;
         font-size: 18px;
      }
        
    
     }
     /* tienda */
     .tienda{
       border: black 2px solid;
        @include gradiente-lineal-tienda;

            .introTienda{
                text-align: center;
            }
     }

     /* INFO ITEMS */
     .cartas{
        padding: 0 25px;
        
          
     }
     .sp{
        background: linear-gradient(170deg, #8c366c, #6f64e7);
        padding: 15px ;
        margin: 20px 0;
        width:100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-size: 24px;
        color: #fff;
        border-radius: 40px;
       
      }

      /* FORMULARIO PAGINA DE CONTACTO
       */
        


     .titulo{
        position: relative;
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
            .contactForm{
                position: relative;
                display: grid;
                grid-template-columns:repeat(auto-fit, minmax(500px, 1fr 1fr));
                gap: 20px;
                padding: 40px;
                width: 90%;
                height: 95%;
                @include gradiente-lineal-tienda;
                box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
                border-radius: 30px;
                
            }
                    .text-formulairo{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 85%;
                    margin-left: 30px;

                    }
                        form{
                            width: 80%;

                         }
                     .texto-contacto{
                        color: black;
                        
                        margin-bottom: 20px;

                     }
                     .h2-form{
                        color: black;
                        font-size: 2em;
                        margin-bottom: 10px;

                     }
                     .p-form{
                        color: black;
                        line-height: 1.5;
                        
                        
                     }
                     .inputBox{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15px;
                     }
                     label{
                        color: black;
                        font-weight: 700;
                        
                     }
                     
                     input[type="text"]{
                        border: none;
                        background: #cbebfb;
                        padding: 10px;
                        border-radius: 15px;
                        color: #1766a3;
                     }
                     input[type="Email"]{
                        border: none;
                        background: #cbebfb;
                        padding: 10px;
                        border-radius: 15px;
                        color: #1766a3;
                     }
                     textarea{
                        border: none;
                        background: #cbebfb;
                        padding: 10px;
                        border-radius: 15px;
                        color: #1766a3;
                        resize: none;
                     }
                     /* input y text focus */
                     input[type="text"]:focus{
                        outline: 2px solid #1766a3;

                     }
                     input[type="Email"]:focus{
                        outline: 2px solid #1766a3;
                     }
                     textarea:focus{
                        outline: 2px solid #1766a3;
                     }

                     input[type="submit"]{
                        background: #1766a3;
                        display: inline-block;
                        text-align: center;
                        width: 250px;
                        padding: 10px;
                        border-radius: 15px;
                        color: #fff;
                        letter-spacing: 1px;
                        border: none;
                        cursor: pointer;
                        box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
                        transition: 0.3s;
                     }
                     input[type="submit"]:hover{
                        background: #1766a3;
                        color: #0b426c;
                     }
                     .info-contacto{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                     }
                     .imagen-box{
                        position: relative;
                        width: 350px;
                        height: 350px;
                     }
                     img{
                        position: absolute;
                        right: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                     }















                     
                          
    }




                  
    }